<div class="xyz-table">
  <ul class="__main-header">
    <li>
      <Input
        indeterminate={{this.isIndeterminate}}
        @type="checkbox"
        @checked={{this.isAllSelected}}
        {{on "input" this.onSelectAllClick}}
      />
    </li>
    <li>{{this.selectedTitle}}</li>
    <li class="__download-button" {{on "click" this.onDownloadClick}}>Download Selected</li>
  </ul>
  <table>
    <thead>
      <td />
      {{#each @columns as |column|}}
        <th class="__table-header">{{column.name}}</th>
      {{/each}}
    </thead>
    {{#each @rows as |row index|}}
      <tr class="__table-row{{if (includes index this.selectedItems) '--active'}}">
        <td>
          <Input
            @type="checkbox"
            @checked={{includes index this.selectedItems}}
            {{on "input" (fn this.onRowCheckboxClick index)}}
          />
        </td>
        {{#each @columns as |column|}}
          <td>{{get row (concat column.valuePath)}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
</div>