<div class="xyz-table">
  <ul class="xyz-table__main-header">
    <li>
      <Input
        id="selectAllCheckbox"
        indeterminate={{this.isIndeterminate}}
        @type="checkbox"
        @checked={{this.isAllSelected}}
        {{on "input" this.onSelectAllClick}}
      />
    </li>
    <li>{{this.selectedTitle}}</li>
    <li
      role="button"
      class="xyz-table__download-button"
      {{on "click" this.onDownloadClick}}
    >Download Selected</li>
  </ul>
  <table class="xyz-table__table">
    <thead>
      <th />
      {{#each @columns as |column|}}
        <th class="xyz-table__table-header">{{column.name}}</th>
      {{/each}}
    </thead>
    <tbody>
      {{#each @rows as |row index|}}
        <tr
          class="xyz-table__table-row{{if
              (includes index this.selectedItems)
              '--active'
            }}"
        >
          <td class="xyz-table__table-data">
            <Input
              id={{index}}
              @type="checkbox"
              @checked={{includes index this.selectedItems}}
              {{on "input" (fn this.onRowCheckboxClick index)}}
            />
          </td>
          {{#each @columns as |column|}}
            <td class="xyz-table__table-data">
              {{#if column.cellType}}
                {{component column.cellType model=row}}
              {{else}}
                {{get row (concat column.valuePath)}}
              {{/if}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>